{
    "root": true,
    "extends": ["airbnb-base"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "settings":{
        "import/resolver":{
                "node":{
                "extensions":[".js"]
            }
        }
    },
    "globals" : {
        "toastr": true,
        "localStorage": true
    },
    "rules": {
        "indent": ["error", 4],
        "max-len": [2, {"code": 100}],
        "one-var": 0,
        "one-var-declaration-per-line": 0,
        "new-cap": 0,
        "no-undef": 2,
        "consistent-return": 0,
        "no-param-reassign": 0,
        "comma-dangle": 0,
        "no-prototype-builtins": 0,
        "curly": ["error", "multi-line"],
        "max-nested-callbacks": [2, 10],
        "import/no-unresolved": [2, { "commonjs": true }],
        "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
        "func-names": 0,
        "no-underscore-dangle": 0,
        "valid-jsdoc": ["error", {
            "requireReturn": true,
            "requireReturnType": true,
            "requireParamDescription": false,
            "requireReturnDescription": true
        }],
        "require-jsdoc": ["off", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true
            }
         }]
    }
}
